
.createJobContainer{
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.jobTitle-card{
    background-color: rgba(164, 46, 243, 0.616);
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 500px;
    flex-wrap: wrap;
}

.titleInput, .descriptionInput, .lookingForOptions, .weOfferOptions, .pickerInputsContainer, .pictureInput{
    background-color: rgba(79, 52, 82, 0.561);
    margin: 10px;
    flex-grow: 1;
}

.pickerInputsContainer{
    display: flex;
    flex-wrap: wrap;
}

.pickerInput{
    margin: 10px;
}

.textArea{
    min-height: 70px;
}

.textColor{
    color:white;
}

.createButton{
    margin: 10px;
}
