@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

:host{
    display: flex;
    background-color: rebeccapurple;
    height: 60px;
    flex-grow: 1;
}

.headerContainer{
    display: flex;
    flex-grow: 1;
    margin: 10px;
}

.homePageButton{
    justify-self: flex-start;
}

.navigationButtonsContainer{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.mainPageButton{
    
    font-size: large;
}

.navButton{
    margin-left: 10px;
}