<mat-card class="filtersCard">
  <mat-card-actions class="buttons">
    <button mat-raised-button (click)="filterClicked('All')" color="accent">
      All
    </button>
    <button
      mat-raised-button
      (click)="filterClicked('Web Development')"
      color="accent"
    >
      Web Development
    </button>
    <button
      mat-raised-button
      (click)="filterClicked('Game Development')"
      color="accent"
    >
      Game Development
    </button>
    <button mat-raised-button (click)="filterClicked('DevOps')" color="accent">
      DevOps
    </button>
    <button
      mat-raised-button
      (click)="filterClicked('Machine Learning')"
      color="accent"
    >
      Machine Learning
    </button>
    <button
      mat-raised-button
      (click)="filterClicked('Data Analyst')"
      color="accent"
    >
      Data Analyst
    </button>
  </mat-card-actions>
</mat-card>
