.filtersCard {
  margin: 10px;
  display: flex;
  flex-grow: 1;

  justify-content: space-evenly;
  background-color: rgba(170, 158, 182, 0.575);
}

.buttons {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;

  button {
    margin: 5px;
  }
}
