.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bodyContentDiv {
  display: flex;
  flex-grow: 1;
  flex: 1 1 auto;
  background-color: rgba(102, 51, 153, 0.541);
  justify-content: center;
}

// .sidebar {
//   display: flex;
//   flex-grow: 1;
//   flex-basis: 300px;
//   border: 1px solid white;
//   background-color: rgba(102, 51, 153, 0.541);
//   margin-top: -10px;
// }

.jobList {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
