:host{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    max-height: 40%;
    max-width: 40%;
    flex-grow: 1;
    text-align: center;
}

mat-card{
    background-color: rgba(103, 123, 180, 0.555);
}

mat-card-content{
    display: flex;
    flex-direction: column;
}

.full-width{
    width : 100%;
}

.signupLabel{
    margin-top: 5px;
    align-self: flex-end;
}
