<div class="headerContainer">
  <button
    mat-stroked-button
    color="accent"
    class="mainPageButton"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>

  <div class="navigationButtonsContainer">

    <button *ngIf="this.signedInUser != null"
      mat-raised-button
      color="primary"
      class="createJobButton navButton"
      routerLink="/create"
    >
      Create Job offer
    </button>
    <button
      mat-raised-button
      color="primary"
      class="findJobButton navButton"
      routerLink="/"
    >
     <mat-icon>search</mat-icon> Search Jobs
    </button>

    <button *ngIf="this.signedInUser != null"
      mat-raised-button
      color="accent"
      class="ProfileButton navButton"
      routerLink = "/user/{{signedInUser._id}}"
    >
      <mat-icon>person</mat-icon> {{signedInUser.userFullName}}
    </button>

    <button *ngIf="this.signedInUser != null"
      mat-raised-button
      (click) = "logout()"
      color="warn"
      class="LogoutButton navButton"
    >
      Logout
    </button>

    <button *ngIf="this.signedInUser == null"
      mat-raised-button
      color="accent"
      class="signInButton navButton"
      routerLink="/signin"
    >
      SignIn
    </button>
  </div>
</div>
