<div class="headerContainer">
  <button
    mat-stroked-button
    color="accent"
    class="mainPageButton"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>

  <div class="navigationButtonsContainer">
    <button
      mat-raised-button
      color="primary"
      class="createJobButton navButton"
      routerLink="/create"
    >
      Create Job offer
    </button>
    <button
      mat-raised-button
      color="primary"
      class="findJobButton navButton"
      routerLink="/"
    >
      Find a Job
    </button>
  </div>
</div>
