<mat-card class="filtersCard">
        <mat-card-actions class="buttons">
            <button mat-raised-button color="accent">All</button>
            <button mat-raised-button color="accent">Web Development</button>
            <button mat-raised-button color="accent">Game Development</button>
            <button mat-raised-button color="accent">DevOps</button>
            <button mat-raised-button color="accent">Machine Learning</button>
            <button mat-raised-button color="accent">Data Analyst</button>
        </mat-card-actions> 
</mat-card>

