.jobDetailsContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.deleteBtn {
  position: absolute;
  height: 36px;
  width: 36px;
  align-self: flex-end;
  margin-right: 10px;
  z-index: 10;
}

$purpleColor: rgba(76, 0, 130, 0.589);

.titleCards {
  background-color: $purpleColor;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.jobPicture {
  display: flex;
  flex-grow: 1;
  margin: 0px 10px 0px 10px;

  img {
    border: 1px solid $purpleColor;
    box-shadow: 2px 3px 8px $purpleColor;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    max-height: 270px;
  }
}

.infoDiv {
  margin: 10px;
  background-color: rgba(110, 110, 110, 0.63);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seniorityDiv,
.dateDiv,
.candidatesDiv {
  display: flex;
  background-color: rgba(238, 183, 243, 0.486);
  border-radius: 2%;
  padding: 3px;
  margin: 5px;
  p {
    margin-left: 3px;
    margin-right: 5px;
  }
}

.candidatesDiv:hover {
  cursor: pointer;
}

.descriptionDiv,
.weOfferDiv,
.weNeedDiv {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 2%;
  padding: 5px;
  overflow: auto;
  margin: 0px 10px 10px 10px;

  h1 {
    color: gold;
    background-color: rgba(110, 110, 110, 0.63);

    mat-icon {
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

.applyButton {
  margin: 10px;
}

.applyForm {
  background-color: $purpleColor;
  margin: 10px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  margin-left: 8px;
  margin-top: 5px;
}
